<!DOCTYPE html>
<html>
<head>
    <title>Add Person</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<body>
    <h1>Add Person</h1>
    <form method="post" action="{% url 'add_person' %}">
        {% csrf_token %}
        <label for="username">Username:</label>
        <input type="text" name="username" required><br><br>

        <label for="password">Password:</label>
        <input type="password" name="password" required><br><br>

        <input type="submit" value="Add Person">
    </form>
    <br>
    <a href="{% url 'people_list' %}">View People</a>
</body>
</html>